<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

    <div class="header-details flexcol">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
        </h1>

        <div class="hd tooltip">
          <span class="tooltipcontent">
            @attributes.hd.total : {{data.attributes.hd.total}}
          </span>
          <Label>HD</label>
            <input disabled type="text" value="{{data.attributes.hd.total}}" placeholder="1" data-dtype="Number" />
          </div>

          <div class="charlevel">
            <div class="level">
              <label>CR</label>
              <input name="data.details.cr" type="text" value="{{labels.cr}}" placeholder="1"/>
            </div>
            <div class="experience">
              <span>{{data.details.xp.value}} XP</span>
            </div>
          </div>
        </div>

        <div class="flexcol">
          <ul class="summary">
            <li>
              <input type="text" name="data.details.type" value="{{data.details.type}}" placeholder="{{localize "PF1.TypeSubType"}}" title="{{localize "PF1.TypeSubType"}}"/>
            </li>
            <li>
              <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{localize "PF1.Alignment"}}" title="{{localize "PF1.Alignment"}}"/>
            </li>
            <select name="data.attributes.creatureType">
              {{#select data.attributes.creatureType}}
              {{#each config.creatureTypes as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </ul>
        </div>

        {{!-- Attributes --}}
        <ul class="attributes flexrow">
          <li class="attribute health">
            {{#if healthConfig.variants.npc.useWoundsAndVigor}}
            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Vigor" }}
              <div class="tooltipcontent">
                @attributes.vigor.min : {{data.attributes.vigor.min}}<br/>
                @attributes.vigor.value : {{data.attributes.vigor.value}}<br/>
                @attributes.vigor.max : {{data.attributes.vigor.max}}<br/>
                @attributes.vigor.temp : {{data.attributes.vigor.temp}}

                {{#if sourceDetails.data.attributes.vigor.max.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.vigor.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="data.attributes.vigor.value" type="text" value="{{data.attributes.vigor.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{data.attributes.vigor.max}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.vigor.temp" type="text" class="temphp" placeholder="{{localize 'PF1.Temporary'}}" value="{{#if data.attributes.vigor.temp}}{{data.attributes.vigor.temp}}{{/if}}" data-dtype="Number"/>
            </footer>

            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Wounds" }}
              <div class="tooltipcontent">
                @attributes.wounds.min : {{data.attributes.wounds.min}}<br/>
                @attributes.wounds.value : {{data.attributes.wounds.value}}<br/>
                @attributes.wounds.max : {{data.attributes.wounds.max}}<br/>

                {{#if sourceDetails.data.attributes.wounds.max.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.wounds.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="data.attributes.wounds.value" type="text" value="{{data.attributes.wounds.value}}" data-dtype="Number" placeholder="0"/>
              <span class="sep"> / </span>
              <div class="attribute">{{data.attributes.wounds.max}}</div>
            </div>
          {{else}}
            <h4 class="attribute-name box-title tooltip">
              {{ localize "PF1.Health" }}
              <div class="tooltipcontent">
                @attributes.hp.value : {{data.attributes.hp.value}}<br/>
                @attributes.hp.max : {{data.attributes.hp.max}}<br/>
                @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
                @attributes.hp.nonlethal : {{data.attributes.hp.nonlethal}}

                {{#if sourceDetails.data.attributes.hp.max.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.hp.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </div>
            </h4>
            <div class="attribute-value multiple">
              <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="10"/>
              <span class="sep"> / </span>
              <div class="attribute">{{data.attributes.hp.max}}</div>
            </div>
            <footer class="attribute-footer">
              <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{localize 'PF1.TempShort'}}"
                value="{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{/if}}" data-dtype="Number" title="{{localize "PF1.TempHP"}}"/>
              <input name="data.attributes.hp.nonlethal" type="text" class="temphp" placeholder="{{localize 'PF1.Nonlethal'}}"
                value="{{#if data.attributes.hp.nonlethal}}{{data.attributes.hp.nonlethal}}{{/if}}" data-dtype="Number" title="{{localize "PF1.Nonlethal"}}"/>
            </footer>
          {{/if}}
          </li>

          <li class="attribute speed">
            <div class="attribute-speed">
              <h4 class="attribute-name box-title">{{ localize "PF1.SpeedLand" }}</h4>
              <div class="attribute-value">
                <div class="attribute">{{#if data.attributes.speed.land.total}}{{data.attributes.speed.land.total}}{{/if}}</div>
              </div>
              <footer class="attribute-footer">
                <input name="data.attributes.speed.land.base" type="text"
                value="{{#if data.attributes.speed.land.base}}{{data.attributes.speed.land.base}}{{/if}}"
                data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
              </footer>
            </div>
            <div class="attribute-speed">
              <h4 class="attribute-name box-title">{{ localize "PF1.SpeedClimb" }}</h4>
              <div class="attribute-value">
                <div class="attribute">{{#if data.attributes.speed.climb.total}}{{data.attributes.speed.climb.total}}{{/if}}</div>
              </div>
              <footer class="attribute-footer">
                <input name="data.attributes.speed.climb.base" type="text"
                value="{{#if data.attributes.speed.climb.base}}{{data.attributes.speed.climb.base}}{{/if}}"
                data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
              </footer>
            </div>
            <div class="attribute-speed">
              <h4 class="attribute-name box-title">{{ localize "PF1.SpeedSwim" }}</h4>
              <div class="attribute-value">
                <div class="attribute">{{#if data.attributes.speed.swim.total}}{{data.attributes.speed.swim.total}}{{/if}}</div>
              </div>
              <footer class="attribute-footer">
                <input name="data.attributes.speed.swim.base" type="text"
                value="{{#if data.attributes.speed.swim.base}}{{data.attributes.speed.swim.base}}{{/if}}"
                data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
              </footer>
            </div>
            <div class="attribute-speed">
              <h4 class="attribute-name box-title">{{ localize "PF1.SpeedBurrow" }}</h4>
              <div class="attribute-value">
                <div class="attribute">{{#if data.attributes.speed.burrow.total}}{{data.attributes.speed.burrow.total}}{{/if}}</div>
              </div>
              <footer class="attribute-footer">
                <input name="data.attributes.speed.burrow.base" type="text"
                value="{{#if data.attributes.speed.burrow.base}}{{data.attributes.speed.burrow.base}}{{/if}}"
                data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
              </footer>
            </div>
            <div class="attribute-speed">
              <h4 class="attribute-name box-title">{{ localize "PF1.SpeedFly" }}</h4>
              <div class="attribute-value">
                <div class="attribute">{{#if data.attributes.speed.fly.total}}{{data.attributes.speed.fly.total}}{{/if}}</div>
              </div>
              <footer class="attribute-footer">
                <input name="data.attributes.speed.fly.base" type="text"
                value="{{#if data.attributes.speed.fly.base}}{{data.attributes.speed.fly.base}}{{/if}}"
                data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
              </footer>
            </div>
            <div class="attribute-speed">
              <h4 class="attribute-name box-title">{{ localize "PF1.FlyManeuverabilityShort" }}</h4>
              <select name="data.attributes.speed.fly.maneuverability">
                {{#select data.attributes.speed.fly.maneuverability}}
                {{#each config.flyManeuverabilities as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </li>
        </ul>
      </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="attributes">{{ localize "PF1.Attributes" }}</a>
      <a class="item" data-tab="defenses">{{ localize "PF1.Defenses" }}</a>
      <a class="item" data-tab="attacks">{{ localize "PF1.Attacks" }}</a>
      <a class="item" data-tab="inventory">{{ localize "PF1.Inventory" }}</a>
      <a class="item" data-tab="feats">{{ localize "PF1.Features" }}</a>
      <a class="item" data-tab="skills">{{ localize "PF1.Skills" }}</a>
      <a class="item" data-tab="buffs">{{ localize "PF1.Buffs" }}</a>
      <a class="item" data-tab="spellbook">{{ localize "PF1.Spells" }}</a>
      <a class="item" data-tab="biography">{{ localize "PF1.Biography" }}</a>
      <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="primary-body">
      <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

        {{!-- Ability Scores --}}
        <ul class="ability-scores flexrow">
          {{#each data.abilities as |ability id|}}
          <li class="ability" data-ability="{{id}}">
            <div class="ability-header flexrow">
              <input class="ability-damage" name="data.abilities.{{id}}.damage" type="text" title="{{localize "PF1.Damage"}}"
              value="{{#if ability.damage}}{{ability.damage}}{{/if}}" data-dtype="Number" placeholder="{{ localize "PF1.DMG" }}"/>
              <input class="ability-penalty" name="data.abilities.{{id}}.userPenalty" type="text" title="{{localize "PF1.Penalty"}}"
              value="{{#if ability.userPenalty}}{{ability.userPenalty}}{{/if}}" data-dtype="Number" placeholder="{{ localize "PF1.PNL" }}"/>
              <input class="ability-drain" name="data.abilities.{{id}}.drain" type="text" title="{{localize "PF1.Drain"}}"
              value="{{#if ability.drain}}{{ability.drain}}{{/if}}" data-dtype="Number" placeholder="{{ localize "PF1.DRN" }}"/>
            </div>
            <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
            <span class="ability-score tooltip">
              {{numberFormat ability.total decimals=0 sign=false}}
              <span class="tooltipcontent">
                @abilities.{{id}}.total : {{ability.total}}<br/>
                @abilities.{{id}}.value : {{ability.value}}<br/>
                @abilities.{{id}}.mod : {{ability.mod}}<br/>
                @abilities.{{id}}.damage : {{ability.damage}}<br/>
                @abilities.{{id}}.drain : {{ability.drain}}<br/>
                @abilities.{{id}}.penalty : {{ability.penalty}}

                {{#if ability.sourceDetails.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </span>
            </span>
            <div class="ability-modifiers flexrow">
              <span class="ability-mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <div class="ability-center"></div>
              <input class="ability-base" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
            </div>
          </li>
          {{/each}}
        </ul>

        {{!-- Misc --}}
        <div class="flexcol attributes-root">
          <ul class="attributes misc-base flexrow">
            <li class="attribute bab" data-attribute="bab">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{numberFormat data.attributes.bab.total decimals=0 sign=false}}</span>
                <span class="tooltipcontent">
                  @attributes.bab.total : {{data.attributes.bab.total}}
                  {{#if sourceDetails.data.attributes.bab.total.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
              </div>
            </li>

            <li class="attribute cmb" data-attribute="cmb">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.CMBAbbr"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{data.attributes.cmb.total}}</span>
                <span class="tooltipcontent">
                  @attributes.cmb.total : {{data.attributes.cmb.total}}
                  {{#if sourceDetails.data.attributes.cmb.total.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
              </div>
            </li>
          </ul>

          <ul class="attributes misc-base flexrow">
            <li class="attribute initiative" data-attribute="init">
              <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{data.attributes.init.total}}</span>
                <span class="tooltipcontent">
                  @attributes.init.total : {{data.attributes.init.total}}
                  {{#if sourceDetails.data.attributes.init.total.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
              </div>
            </li>
          </ul>

          <ul class="attributes misc-base2 flexrow">
            <li class="attribute acp" data-attribute="acp">
              <h4 class="attribute-name box-title">{{localize "PF1.ACP"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{data.attributes.acp.total}}</span>
                <span class="tooltipcontent">@attributes.acp.total : {{data.attributes.acp.total}}</span>
              </div>
            </li>

            <li class="attribute maxdex" data-attribute="maxdex">
              <h4 class="attribute-name box-title">{{localize "PF1.MaxDexShort"}}</h4>
              <div class="attribute-value tooltip">
                <span>{{data.attribute.maxDexBonus}}</span>
                <span class="tooltipcontent">@attributes.maxDexBonus : {{data.attributes.maxDexBonus}}</span>
              </div>
            </li>
          </ul>

          <textarea name="data.attributes.cmbNotes" placeholder="CMB {{localize "PF1.Notes"}}">{{data.attributes.cmbNotes}}</textarea>
        </div>

        <section class="center-pane flexcol">
          {{!-- Traits --}}
          {{> "systems/pf1/templates/actors/parts/actor-traits.html"}}
        </section>
      </div>

      {{!-- Defenses Tab --}}
      <div class="tab defenses flexcol" data-group="primary" data-tab="defenses">
        {{> "systems/pf1/templates/actors/parts/actor-defenses.html"}}
      </div>

      {{!-- Attacks Tab --}}
      <div class="tab attacks flexcol" data-group="primary" data-tab="attacks">
        {{> "systems/pf1/templates/actors/parts/actor-attacks.html" sections=attacks}}
      </div>

      {{!-- Inventory Tab --}}
      <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
        {{> "systems/pf1/templates/actors/parts/actor-inventory.html" sections=inventory}}
      </div>

      {{!-- Features Tab --}}
      <div class="tab features flexcol" data-group="primary" data-tab="feats">
        {{> "systems/pf1/templates/actors/parts/actor-features.html" sections=features}}
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills flexcol" data-group="primary" data-tab="skills">
        {{> "systems/pf1/templates/actors/parts/actor-skills-front.html"}}
      </div>

      {{!-- Buffs Tab --}}
      <div class="tab buffs flexcol" data-group="primary" data-tab="buffs">
        {{> "systems/pf1/templates/actors/parts/actor-buffs.html" sections=buffs}}
      </div>

      {{!-- Spellbook Tab --}}
      <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
        {{> "systems/pf1/templates/actors/parts/actor-spellbook-front.html"}}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography flexcol" data-group="primary" data-tab="biography">
        {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
      </div>

      {{!-- Notes Tab --}}
      <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
        {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
      </div>
    </section>
  </form>
